<img src="https://raw.githubusercontent.com/Anatoliy031/letter-automation/main/images/blanks.PNG" alt="Фирменный бланк" style="width:100%;max-width:800px; margin-bottom:24px;">

<div style="font-family:'Times New Roman', Times, serif; font-size:16px;">
<p style="text-align:right;">
Директору филиала<br>
АО «Россети Кубань»<br>
{Филиал}<br>
<br>
<b>{ФИО_Директора}</b>
</p>

<p style="text-align:center; font-weight:bold; margin-top:30px;">
О подтверждении факта выполнения ТУ<br>
{Компания}<br>
{Адрес_работ}
</p>

<p style="margin-top:30px;">Уважаемый {Имя_Отчество_Директора}!</p>

<p>
В соответствии с Договором коммерческого представительства от {Договор_дата} №{Договор_номер} в адрес АО «Россети Цифра» поступило письмо о подтверждении факта выполнения ТУ по размещению ВОЛС {Компания} на ВЛ филиала АО «Россети Кубань» {Филиал}. Работы выполнялись на основании технических условий № {Номер_ТУ}.
<br><br>
Прошу Вас дать поручение ответственным специалистам подчиненных служб в течение 10 рабочих дней подготовить Акт о выполнении технических условий.
<br><br>
В целях оперативной подготовки договора размещения волоконно-оптических линий связи на воздушных линиях электропередач с {Компания}, прошу Вас дать поручение специалистам профильного департамента подтвердить официальным письмом, что воздушные линии в соответствии с техническими условиями являются движимым имуществом, находятся на балансовом учете, но не стоят на кадастровом учете. В ином случае, прошу Вас направить в адрес АО «Россети Цифра» сканированные копии свидетельств о регистрации прав и кадастровые (либо технические) паспорта на электросетевые комплексы, в состав которых включены используемые ВЛ, а так прошу подготовить пакет документов для заключения договора размещения:
</p>

<ul>
<li>Заполненная форма сведений о ВЛ;</li>
<li>Справка о балансовой принадлежности;</li>
<li>Акт о выполнении ТУ или акт окончания СМР.</li>
</ul>

<p>
Для уточнения объёма выполнения ТУ и исключения оформления дублированных актов прошу Вас оформлять перечень ВЛ, на которых выполнен СМР, в качестве приложения к акту о выполнении ТУ.
</p>

<p><b>Приложение:</b><br>
1. Письмо {Компания} с приложениями, на {Листов_письмо} л. в 1 экз.<br>
2. Форма сведений о ВЛ, на {Листов_форма_ВЛ} л. в 1 экз.
</p>

<p style="margin-top:40px;">
Начальник департамента эксплуатации и <br>
размещения ВОЛС на воздушных линиях <span style="float:right;">Е.А. Демина</span>
</p>
<hr style="border:none; border-top:1px dashed #ccc; margin:20px 0;">
<p>
<span>Нелипа Олеся Николаевна<br>
+7(908)-670-15-66<br>
nelipa-on@rosseti.digital</span>
</p>
</div>
