<div style="font-family:'Times New Roman', Times, serif; font-size:16px;">
<p style="text-align:right;">
Директору филиала<br>
АО «Россети Кубань»<br>
{Филиал}<br>
<br>
<b>{ФИО_Директора}</b>
</p>

<p style="text-align:center; font-weight:bold; margin-top:30px;">
Об актуализации ТУ<br>
{Компания}<br>
({Адрес_участка})
</p>

<p style="margin-top:30px;">Уважаемый {Имя_Отчество_Директора}!</p>

<p>
В соответствии с Договором коммерческого представительства от {Договор_дата} №{Договор_номер}, а также обращением {Компания}, прошу Вас дать поручение ответственным специалистам подчиненных служб актуализировать технические условия № {Номер_ТУ} размещения ВОЛС на участке: {Адрес_участка}.
<br><br>
Проект технических условий в формате word, а также сканированную версию, подписанную со стороны филиала, прошу направить официальным письмом в АО «Россети Цифра» в течение 10 рабочих дней.
</p>

<p><b>Приложение:</b><br>
1. Письмо {Компания} с приложениями, на {Листов_письмо} л. в 1 экз.<br>
2. Технические условия, на {Листов_ТУ} л. в 1 экз.
</p>

<p style="margin-top:40px;">
Начальник департамента эксплуатации и <br>
размещения ВОЛС на воздушных линиях <span style="float:right;">Е.А. Демина</span>
</p>
<hr style="border:none; border-top:1px dashed #ccc; margin:20px 0;">
<p>
<span>Нелипа Олеся Николаевна<br>
+7(908)-670-15-66<br>
nelipa-on@rosseti.digital</span>
</p>
</div>
