<img src="https://raw.githubusercontent.com/Anatoliy031/letter-automation/main/images/blanks.PNG" alt="Фирменный бланк" style="width:100%;max-width:800px; margin-bottom:24px;">

<div style="font-family:'Times New Roman', Times, serif; font-size:16px;">
<p style="text-align:right;">
Директору филиала<br>
АО «Россети Кубань»<br>
{Филиал}<br>
<br>
<b>{ФИО_Директора}</b>
</p>

<p style="text-align:center; font-weight:bold; margin-top:30px;">
О допуске сотрудников для выполнения СМР {Компания}<br>
({Адрес_работ})
</p>

<p style="margin-top:30px;">Уважаемый {Имя_Отчество_Директора}!</p>

<p>
В соответствии с Договором коммерческого представительства от {Договор_дата} №{Договор_номер}, прошу Вас разрешить доступ сотрудников организаций {Компания} на объекты электроэнергетики филиала АО «Россети Кубань» {Филиал} по адресу: {Адрес_работ}, с целью проведения строительно-монтажных работ (СМР) по подвесу ВОЛС на ВЛ.
</p>

<p><b>Приложение:</b><br>
письмо {Компания} с приложениями, на {Листов_письмо} л. в 1 экз.
</p>

<p style="margin-top:40px;">
Начальник департамента эксплуатации и <br>
размещения ВОЛС на воздушных линиях <span style="float:right;">Е.А. Демина</span>
</p>
<hr style="border:none; border-top:1px dashed #ccc; margin:20px 0;">
<p>
<span>Нелипа Олеся Николаевна<br>
+7(908)-670-15-66<br>
nelipa-on@rosseti.digital</span>
</p>
</div>
