<div style="font-family:'Times New Roman', Times, serif; font-size:16px;">
<p style="text-align:right;">
Директору филиала<br>
АО «Россети Кубань»<br>
{Филиал}<br>
<br>
<b>{ФИО_Директора}</b>
</p>

<p style="text-align:center; font-weight:bold; margin-top:30px;">
О предоставлении сведений о ВЛ<br>
{Компания} в интересах {В_интересах_кого}<br>
({Район}, {Объект_адрес})
</p>

<p style="margin-top:30px;">Уважаемый {Имя_Отчество_Директора}!</p>

<p>
В целях заключения договора организации доступа к инфраструктуре для размещения ВОЛС на ВЛ с контрагентом {Компания} в интересах {В_интересах_кого} прошу Вас дать поручение ответственным специалистам подчиненных служб предоставить сведения о ВЛ (приложение), согласно ситуационному плану планируемого размещения (в связанных документах).
<br><br>
Информацию прошу направить сопроводительным письмом в АО «Россети Цифра» с приложением в формате excel.
</p>

<p><b>Приложение:</b><br>
1. Письмо {Компания} в интересах {В_интересах_кого} с приложениями в связанных документах.<br>
2.  Форма предоставления сведений о ВЛ.
</p>

<p style="margin-top:40px;">
Начальник департамента эксплуатации и <br>
размещения ВОЛС на воздушных линиях <span style="float:right;">Е.А. Демина</span>
</p>
<hr style="border:none; border-top:1px dashed #ccc; margin:20px 0;">
<p>
<span>Нелипа Олеся Николаевна<br>
+7(908)-670-15-66<br>
nelipa-on@rosseti.digital</span>
</p>
</div>
