<div style="font-family:'Times New Roman', Times, serif; font-size:16px;">
<p style="text-align:right;">
Директору филиала<br>
АО «Россети Кубань»<br>
{Филиал}<br>
<br>
<b>{ФИО_Директора}</b>
</p>

<p style="text-align:center; font-weight:bold; margin-top:30px;">
О согласовании проектной документации<br>
{Компания} ({Адрес_объекта})
</p>

<p style="margin-top:30px;">Уважаемый {Имя_Отчество_Директора}!</p>

<p>
В соответствии с Договором коммерческого представительства от {Договор_дата} № {Договор_номер} направляю Вам проектную документацию на размещение ВОЛС {Компания} на опорах ВЛ филиала АО «Россети Кубань» {Филиал}: {Адрес_объекта}, выполненную на основании выданных технических условий № {Номер_ТУ}.
<br><br>
Прошу Вас дать поручение ответственным специалистам подчиненных служб рассмотреть и согласовать направляемую проектную документацию в течение 10 рабочих дней.
</p>

<p><b>Приложение:</b><br>
1. Письмо {Компания} с приложениями, на {Листов_письмо} л. в 1 экз.<br>
2. Рабочая документация, на {Листов_рабочая} л. в 1 экз.<br>
3. Технический отчет, на {Листов_отчет} л. в 1 экз.<br>
4. Технические условия, на {Листов_ТУ} л. в 1 экз.
</p>

<p style="margin-top:40px;">
Начальник департамента эксплуатации и <br>
размещения ВОЛС на воздушных линиях <span style="float:right;">Е.А. Демина</span>
</p>
<hr style="border:none; border-top:1px dashed #ccc; margin:20px 0;">
<p>
<span>Нелипа Олеся Николаевна<br>
+7(908)-670-15-66<br>
nelipa-on@rosseti.digital</span>
</p>
</div>
